body, html {
    margin: 0;
    height: 100%;
}

#project-creation {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    gap: 5%;
}

#project-creation div {
    display: flex;
    width: 25%;
}

#project-creation div input {
    width: 75%;
}

#project-creation div button {
    width: 25%;
}

#project-creation input, #project-creation select {
    height: 10vh;
    width: 25%;
    margin: 0;
    padding: 0;
}

#project-creation textarea {
    width: 25%;
    height: 25%;
}

